{% block stylesheets %}
	<link rel="stylesheet" href="{{asset("css/style.css")}}">
{% endblock %}

{% block hero %}
	<div class="hero">
		<div class="hero-text">
			<h1>Travel the best Places
				<br>
				with our travel guides!</h1>
			<div class="mt-4">
				<input placeholder="Enter your Email Address" class="me-2">
				<button class="btn btn-outline-light">Sign up!</button>
			</div>
		</div>
	</div>

{% endblock %}
